@import "tailwindcss";

@media (min-width: 1536px) {
  .container {
    display: flex;
    width: 10000px;
    /* gap: 6rem; */
    transform: rotateZ(7deg);
    z-index: 1;
  }

  .card {
    opacity: 0.4;
    cursor: pointer;
    width: 30rem;
    height: 15rem; /* padding: 0.5rem; */
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    box-shadow: 20px 30px 10px rgba(0, 0, 0, 0.28);
    transform: skew(-25deg);
    &:hover {
      opacity: 1;
    }
  }
}
@media (max-width: 1536px) {
  .container {
    display: flex;
    width: 10000px;
    /* gap: 6rem; */
    transform: rotateZ(7deg);
    z-index: 1;
  }

  .card {
    opacity: 0.4;
    cursor: pointer;
    width: 20rem;
    height: 10rem; /* padding: 0.5rem; */
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    box-shadow: 20px 30px 10px rgba(0, 0, 0, 0.28);
    transform: skew(-25deg);
    &:hover {
      opacity: 1;
    }
  }
}

.testeanima {
  animation: animation 2s;
}

@keyframes animation {
  from {
    top: 100%;
  }
  to {
    top: 60%;
  }
}

.codingQuest {
  background-image: url(../../../assets/projects/bgCQ.png);
  background-size: cover;
}

.arrow {
  cursor: pointer;
  border: solid 2px var(--second-color);
  border-radius: 100%;
  &:hover {
    opacity: 0.5;
  }
}
