@import "tailwindcss";
body {
  background-color: #000;
}

.container {
  display: flex;
  /* position: absolute; */
  width: 10000px;
  gap: 6rem;
  transform: rotateZ(10deg);
  z-index: 1;
}

.card {
  /* position: absolute; */
  width: 30rem;
  height: 15rem; /* padding: 0.5rem; */
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  /* 
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.545) outset; */

  box-shadow: 20px 30px 10px rgba(0, 0, 0, 0.28);
  transform: skew(-25deg);

  &:hover {
    background-color: #413e3e;
  }
}

.testeanima {
  animation: animation 2s;
}

@keyframes animation {
  from {
    top: 100%;
  }
  to {
    top: 60%;
  }
}
