@media (min-width: 1536px) {
  .hardItem {
    width: 8rem;
    height: 3rem;
    background: var(--third-color);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 0.5rem;

    & span {
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 400%;
      animation: rotBG 8s linear infinite;
      transition: all 0.2s linear;
    }

    &::after {
      content: "";
      position: absolute;
      background: var(--third-color);
      inset: 0.15rem;
      border-radius: 0.5rem;
    }
  }
  .topLine {
    border-top: 0.2rem solid var(--second-color);
    padding-top: 3%;
  }

  .rightLine {
    border-right: 0.2rem solid var(--second-color);
    padding-top: 3%;
  }
}
@media (max-width: 1536px) {
  .hardItem {
    width: 6rem;
    height: 2rem;
    background: var(--third-color);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 0.5rem;

    & span {
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 1rem;
      height: 400%;
      animation: rotBG 8s linear infinite;
      transition: all 0.2s linear;
    }

    &::after {
      content: "";
      position: absolute;
      background: var(--third-color);
      inset: 0.15rem;
      border-radius: 0.5rem;
    }
  }

  .topLine {
    border-top: 0.1rem solid var(--second-color);
    padding-top: 3%;
  }

  .rightLine {
    border-right: 0.1rem solid var(--second-color);
    /* padding-top: 3%; */
  }
}

@keyframes rotBG {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .rightLine {
  &::after {
    content: "";
    width: 20rem;
    height: 0.2rem;
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 4rem;
    background-color: var(--second-color);
  }
} */
